spring:
  application:
    name: gateway

server:
  port: 8081

eureka:
  instance:
    prefer-ip-address: true
    appname: gateway
  client:
    enabled: true
    healthcheck:
      enabled: false
    fetch-registry: true
    register-with-eureka: true
    instance-info-replication-interval-seconds: 10
    registry-fetch-interval-seconds: 10
    service-url:
      defaultZone: ${EUREKA_SERVICEURL:http://admin:admin@localhost:8761/eureka/}

#logging:
#  level:
#    ROOT: DEBUG
#    gc.garcol.gateway: DEBUG
#    com.netflix.zuul: DEBUG
#    com.netflix.zuul.http: DEBUG
#    reactor.ipc: INFO
#    io.netty: INFO

#zuul:
#  routes:
#    archive:
#      path: /archive
#      url: http://localhost:8085/

zuul:
  routes:
    archive:
      path: /archive
      serviceId: archive
ribbon:
  eureka:
    enabled: false
archive :
  ribbon:
    listOfServers: http://localhost:8085/